<img  class="IPHOTO" src="/myFamily/src/app/img/ix3.jpg" alt="Eyder like an image.">
<h1>HELLO! I AM {{myName}} AND THIS IS MY my Family</h1>

<h2>FAMILY</h2>
<ol>
    <li><a routerLink="/father">This is my father</a></li>
    <li><a routerLink="/mother">This is my mother</a></li>
    <li><a routerLink="/brother-oldest">This is my brother oldest </a></li>
    <li><a routerLink="/brother-youngest">This is my brother youngest </a></li>
    <li><a routerLink="/sister">This is my sister</a></li>
    <li><a routerLink="/brother-in-law">This is my brother in law</a></li>
    <li><a routerLink="/nephew">This is my nephew</a></li>

</ol>

<router-outlet/>
<!--Si se supone que es la otra html principal la que no se puede editar, porque a esta no se le puede añadir contenido? -->
<!-- Por que sale dos veces? -->
