<img  class="IPHOTO" src="/myFamily/src/app/img/ix3.jpg" alt="Eyder like an image.">
<h1>HELLO! I AM {{myName}} AND THIS IS MY my Family</h1>

<h2>FAMILY</h2>
<ol>
    <li><a href="">This is my father</a></li>
    <li><a href="">This is my mother</a></li>
    <li><a href="">This is my brother oldest </a></li>
    <li><a href="">This is my brother youngest </a></li>
    <li><a href="">This is my sister</a></li>
    <li><a href="">This is my brother in law</a></li>
    <li><a href="">This is my nephew</a></li>

</ol>
